/* ----------
    fonts adding
-------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* ----------
   common style
-------- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background: #2D25A0;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*-------------
    congrats-area
--------------  */
.congrats-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 90px;
}


/* congrats-details */
.congrats-tittle {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 27px;
}

/* congrats-button  */
.congrats-button {
    padding: 10px 24px;
    background: #E02C6D;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    outline: 0;
}

.congrats-button .fa-arrow-right {
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}

/* congrats hover */
.congrats-button:hover .fa-arrow-right {
    margin-left: 30px;
    transition: margin-left 0.3s ease-in-out 0.5s;
}

/* congrats-gallery */
.congrats-gallery img {
    width: 556px;
    height: 438px;
}

/* feature-gallery */
.feature-gallery {
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.feature-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 30px;
    place-items: center;
}

.feature-area {
    width: 330px;
    height: 474px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 27px;
}

.feature-img img {
    width: 100%;
    height: 256px;
}
.feature-tittle h2 {
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin: 16px 0 10px 0;
}
.feature-text {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin-top: 0;
    line-height: 1.5;
}

/*----------------- 
   popular-video-sec
------------------- */
.popular-video-sec{
    background-image: url("../images/match.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.7;
    height: 450px;
}
.video-box{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.video-info{
    width: 100%;
    text-align: center;
}
.video-info .video-heading{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
}
.video-info .video-subheading {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    margin-top: 6px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.video-info .video-paragraph {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    padding: 0 250px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.video-info .video-btn{
    padding: 14px 35px;
    border: 5px solid #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    outline: 0;
    overflow: hidden;
}
.video-btn:hover{
    background-color: #fff;
    color: #222;
    transition: all ease 0.3s;
}
/*------------
 fun-shop
 -------------- */
 
.fun-shop-sec {
    padding: 50px 0;
    justify-content: center;
}
.fun-shop-area .fun-tittle{
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #18191F;
    font-weight: 700;
    text-transform: uppercase;
}
 .fun-shop-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 30px;
    place-items: center;
}
.single-fun-box{
    width: 330px;
    height: 484px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    padding: 15px;
    border-radius: 11px;
}
.fun-shop-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    text-transform: capitalize;
    color: #18191F;
}
.fun-shop-info .fun-price{
    color: #FFC321;
    font-weight: 700;
    font-size: 28px;
    margin: 10px 0 10px 0;
}
.fun-images{
    position: relative;
    overflow: hidden;
    transition: all ease 500ms;
}
.fun-image{
    width: 100%;
    height: 370px;
    border-radius: 11px;
    position: relative;
    cursor: pointer;
}
.fun-shop-cart a {
    padding: 14px 35px;
    background-color: #FFC321;
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: -100%;
    top: 44%;
    /* display: none; */
    transition: all ease 500ms;
}
.fun-images:hover .fun-shop-cart a{
    display: block;
    
    left: 28%;
    transition: all ease 500ms;
}

/* ------------
    footer-sec
-------------- */
.footer-sec{
    padding: 60px 0;
    text-align: center;
}
.footer-top .footer-img{
    width: 265px;
    height: 110px;
    margin-bottom: 20px;
}
.footer-icon i{
   margin-right: 14px;
   height: 32px;
   width: 32px;
   border-radius: 50%;
   background-color: #E7E7E8;
   line-height: 32px;
   color: #969BAB;
}
.footer-botom .footer-text{
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
    font-weight: normal;
}
.footer-icon i:hover {
    transform: all ease 500ms;
    color: #fff;
    background-color: #78E072;
    cursor: pointer;
}
/* meadia screen */

@media only screen and (max-width: 688px){
    .container{
        height: auto;
        width: 100%;
    }
    .congrats-area{
        grid-template-columns: 1fr;
        padding: 18px 30px;
    }
    
    .congrats-details {
        margin-bottom: 60px;
        padding-bottom: 28px;
    }
    .congrats-tittle {
        font-size: 35px;
    }
    .congrats-gallery img {
        width: 100%;
        height: auto;
    }
    .feature-box {
        grid-template-columns: 1fr;
    }
    .feature-area {
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: 35px;
    }
    
    .feature-img img {
        width: 100%;
        height: auto;
    }
    .feature-tittle {
        padding: 20px;
    }
    .video-info .video-heading {
        font-size: 22px;
    }
    .video-info .video-subheading {
        font-size: 27px;
        margin-top: 12px;
    }
    .video-info .video-paragraph {
        font-size: 17px;
        padding: 0 30px;
        margin-bottom: 42px;
    }
    .fun-shop-box {
        grid-template-columns: 1fr;
    }
    .single-fun-box {
        margin-bottom: 35px;
    }
    .footer-sec {
        padding: 40px 0;
    }
}